h1 {
  font-size: clamp(2.8rem, 5vw, 3.8rem) !important;
}
h2 {
  font-size: 3.4rem !important;
}
h3 {
  font-size: 3.2rem !important;
}
h4 {
  font-size: 3rem !important;
}
h5 {
  font-size: 2.8rem !important;
}
h6 {
  font-size: 2.6rem !important;
}
